<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title">Pending submissions</h3>
        <div class="table-responsive">
            <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Question</th>
                    <th>User</th>
                    <th>Date</th>
                    <th>Type name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{# each submissions}}
                    <tr>
                        <td>{{this.sid}}</td>
                        <td><a href="/question/view/{{this.question.qid}}">{{this.question.title}}</a></td>
                        <td>{{this.user.username}}</td>
                        <td>{{this.createdAt}}</td>
                        <td>{{this.getTypeName}}</td>
                        <td><a href="/submission/view/{{this.sid}}">view</a></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
