<div class="card">
    <div class="card-body">
        <h3 class="card-title"><b>Submission:</b> {{submission.question.qid}} - {{submission.question.title}}</h3>
        <div class="row">
            <div class="col-12">
                <a href="/question/view/{{submission.question.qid}}"><li class="fa fa-eye"></li> view question</a>
            </div>
        </div>

        {{# equals submissionType g_constant.SUBMIT_TYPE_MANUAL}}
            <div style="padding-top: 20px">
                <h4>Manual submission</h4>
                <p>Language: <b>{{submission.type.language.displayName}}</b></p>
                <div class="col-12 editor-container">
                    <div id="editor">{{submission.type.code}}</div>
                </div>
            </div>

            <div class="col-12 editor-btn">
                {{#if submission.type.approved}}
                    <button onclick="return reject(this)" class="btn btn-primary">Reject</button>
                {{else}}
                    <button onclick="return accept(this)" class="btn btn-primary">Approve</button>
                {{/if}}
            </div>
        {{/equals}}
    </div>
</div>
<script>
    function accept(dom) {
        $.post( "/ajax/submission/accept", {s_id: "{{submission.type._id}}", type: "{{submissionType}}" })
                .done(function( data ) {
                    if(data.code === 200) {
                        dom.innerText = 'Reject';
                        dom.onclick = function() { return reject(dom);};
                    } else {
                        console.error('Error accepting submission');
                    }
                });
        return false;
    }

    function reject(dom) {
        $.post( "/ajax/submission/reject", {s_id: "{{submission.type._id}}", type: "{{submissionType}}" })
                .done(function( data ) {
                    if(data.code === 200) {
                        dom.innerText = 'Accept';
                        dom.onclick = function() { return accept(dom);};
                    } else {
                        console.error('Error rejecting submission');
                    }
                });
        return false;

    }
</script>
