    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Edit profile</h3>
            <form method="post">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="firstName">First name</label>
                            <input class="form-control" value="{{user.firstName}}" name="firstName" id="firstName" type="text" placeholder="Enter first name">
                        </div>
                        <div class="col-md-6">
                            <label for="lastName">Last name</label>
                            <input class="form-control" value="{{user.lastName}}" name="lastName" id="lastName" type="text" placeholder="Enter last name">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="email">Email address</label>
                            <input class="form-control" value="{{user.email}}" name="email" id="email" type="text" placeholder="Enter email">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="username">Username</label>
                            <input class="form-control" value="{{user.username}}" id="username" type="text" readonly>
                        </div>
                        <div class="col-md-6">
                            <label for="password">Password</label>
                            <input class="form-control" id="password" name="password" type="password" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            {{# if me.admin}}
                                {{# if user.admin}}
                                    <input name="admin" value="false" type="checkbox" class="form-check-input"> Remove admin
                                {{else}}
                                    <input name="admin" value="true" type="checkbox" class="form-check-input"> Make admin
                                {{/if}}
                            {{/if}}
                        </label>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Save">
            </form>
        </div>
    </div>
