<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{event.eid}} - {{event.title}}</h3>
        <small class="form-text text-muted">{{formatDateTime event.startAt 'llll'}} - {{formatDateTime event.endAt 'llll'}}</small>
        <div class="row">
            <div class="col-12" style="padding: 30px">
                {{{event.description}}}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3 class="card-title">Questions</h3>
                <ul class="list-group">
                    {{# if event.questions}}
                        {{# each event.questions}}
                            <li class="list-group-item"><a href="/question/view/{{this.qid}}">{{this.title}}</a></li>
                        {{/each}}
                    {{else}}
                        <li class="list-group-item"><em>No questions found</em></li>
                    {{/if}}
                </ul>
            </div>
        </div>

        {{# if me}}
            <div class="row" style="padding-top: 20px">
                <div class="col-12">
                    {{# if isMember}}
                        <button onclick="return leaveEvent(this)" class="btn btn-primary">Leave event</button>
                    {{else}}
                        <button onclick="return joinEvent(this)" class="btn btn-primary">Join event</button>
                    {{/if}}
                </div>
            </div>
        {{/if}}
    </div>
</div>

<script>
    function joinEvent(dom) {
        $.post( "/ajax/event/join", {e_id: "{{event.id}}" })
                .done(function( data ) {
                    console.log('Join event function returned: ', data);
                    if(data.code === 200) {
                        console.log('Joined event');
                        dom.innerText= 'Leave event';
                        dom.onclick = function() { return leaveEvent(dom);}
                    } else {
                        console.error('Error joining event');
                    }
                });
        return false;
    }

    function leaveEvent(dom) {
        $.post( "/ajax/event/leave", {e_id: "{{event.id}}" })
                .done(function( data ) {
                    console.log('Leave event function returned: ', data);
                    if(data.code === 200) {
                        console.log('Left event');
                        dom.innerText = 'Join event';
                        dom.onclick = function() { return joinEvent(dom);};
                    } else {
                        console.error('Error leaving event');
                    }
                });
        return false;
    }
</script>
