<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{event.eid}} - {{event.title}}</h3>
        <small class="form-text text-muted">{{formatDateTime event.startAt 'llll'}} - {{formatDateTime event.endAt 'llll'}}</small>
        <div class="row">
            <div class="col-12" style="padding: 30px">
                {{{event.description}}}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3 class="card-title">Questions</h3>
                <ul class="list-group">
                    {{# if event.questions}}
                        {{# each event.questions}}
                            <li class="list-group-item"><a href="/question/view/{{this.qid}}">{{this.title}}</a></li>
                        {{/each}}
                    {{else}}
                        <li class="list-group-item"><em>No questions found</em></li>
                    {{/if}}
                </ul>
            </div>
        </div>

        <div class="row" style="padding-top: 20px">
            <div class="col-12">
                <a class="btn btn-primary" href="/event/join/1">Join / Leave</a>
                <small id="fileHelp" class="form-text text-muted">
                    If you leave an event your score wil lbe reset to zero
                </small>
            </div>
        </div>
    </div>
</div>
